#root {
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0 2rem 0;
}